body {
background-color: aquamarine;
    padding: 0;
    margin: 0;
}
.input-data{
    /* height: 170px; */
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header a{
    color: #fff;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #689CD2;
    color: #fff;
    font-family: Helvetica, serif;



}

.header_section{
    display: flex;
    align-items: center;

}

.header_item{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;

}

.header_item:hover{
    background-color: #FF9900;
    border-radius: 4px;

}

.headerlogo {
    font-weight: bold;

}

.headerButton {
    cursor: pointer;
}
.content {
    display: flex;
    width: 100% !important;
}
.content main {
    width: 70%;
}
.content aside {
    width: 30%;
}